*****************************************************
*                                                   *
* DRILL TAPE SUMMARY REPORT                         *
*                                                   *
* C:\PROGETTI\SCHEDA-ALPHASENSEB43\ALPHAB43-11.MAX  *
* Wed Sep 24 17:16:01 2014                          *
*                                                   *
*****************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      123      200      100                                                                                 
T2       394      34       200      100                                                                                 
T3       945      16       200      100                                                                                 
T4       1181     5        200      100                                                                                 
